@model UserViewModel

<p>
    @Html.DisplayForModel()
</p>
<!--
<p>
    <table>
        <thead>
            <tr>
                <th>
                    Тип номера
                </th>
                <th>
                    Номер
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach(var phoneWithType in Model.Phones)
            {
                @if(phoneWithType.PhoneNumbers.Length <= 1)
                {
                    <tr>
                        <td>
                            @phoneWithType.Type
                        </td>
                        <td>
                            @phoneWithType.PhoneNumbers.FirstOrDefault(string.Empty)
                        </td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td>
                            @phoneWithType.Type
                        </td>
                        <td>
                        </td>
                    </tr>
                    @foreach(var phone in phoneWithType.PhoneNumbers)
                    {
                        <tr>
                            <td>
                            </td>
                            <td>
                                @phone
                            </td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
</p>
-->
<p>
    Номера телефонов
    <ul>
            @foreach (var NumbersWithTypePhone in Model.Phones)
            {
            <li>
                @NumbersWithTypePhone.Type
                <ul>
                        @foreach (var phone in NumbersWithTypePhone.PhoneNumbers)
                        {
                        <li>
                                @phone
                        </li>
                        }
                </ul>
            </li>
            }
    </ul>
</p>